:root {
  --cards-per-tray: 1;
}
$cards-per-tray: var(--cards-per-tray);
$card-width: min(14.5vw, 8.4vh, 5rem);
$card-stacking-factor: 2.3;
@function multiplyCardWidth($factors...) {
  $factorsProduct: 1;
  @each $factor in $factors {
    $factorsProduct: $factorsProduct * $factor;
  }
  @return calc(#{$card-width} * #{$factorsProduct});
}

$card-height: multiplyCardWidth(1.16);
$max-cards-of-type: 8;
