* {
  box-sizing: border-box;
}
body {
  background-color: #99d98c;
  margin: 0;
  //  overscroll-behavior: contain;
}
@import '_variables.scss';
//@import '../js/views/game/game.scss';
@import 'swipeAria.scss';
@import 'table.scss';
@import 'cards.scss';
@import 'playersDeck';
@import 'tokens.scss';
