* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overscroll-behavior: contain;
}
@import '_variables.scss';
@import 'game.scss';
@import 'swipeAria.scss';
@import 'table.scss';
@import 'cards.scss';
@import 'playersDeck';
