.game__swipe-aria {
  position: fixed;
  @debug calc(
    #{$card-height} + #{$card-stacking-factor} * #{$max-cards-of-type - 1}
  );
  bottom: #{multiplyCardWidth(2.12)};
  width: 100%;
  background-color: rgba(255, 228, 196, 0.24);
  height: 300px;
  // z-index: 100;
}
