.game__table {
  display: grid;
  grid-template-columns: repeat(var(--cards-per-tray), $card-width);
  //grid-template-rows: repeat(var(--number-of-trays), $card-height);
  //gap: min(2%, 1rem) min(2%, 1rem);
  gap: multiplyCardWidth(0.125) multiplyCardWidth(0.1);
  justify-content: center;
  margin-top: 10px;
  padding-top: 15px;
  //position: relative;
  .game__table__card-spot {
    width: $card-width;
    height: $card-height;
    border: rgba(245, 245, 220, 0.52) solid 1px;
    border-radius: 10%;
  }
  .game__table__result-card-spot {
    @extend .game__table__card-spot;
    margin-top: multiplyCardWidth(0.2);
    //border-color: rgba(255, 255, 0, 0.698);
    border-color: rgba(255, 255, 0, 0);
  }
}

// .table__card-spot--occupied {
//   border: none;
// }
