%token {
  width: multiplyCardWidth(0.25);
  height: multiplyCardWidth(0.25);
  border-radius: 50%;
  border: 1px solid rgba(37, 36, 36, 0.335);
  position: absolute;
  top: 3%;
  left: 4%;
}
.token--red {
  @extend %token;
  background: #f00000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dc281e,
    #f00000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dc281e,
    #f00000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.token--yellow {
  @extend %token;
  background: #f1e204; /* fallback for old browsers */
}
